body {
    background-color: rgb(225, 225, 225);
    color: rgb(10, 2, 27);
  
    font-size: 16;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .avatar {
    width: 250px;
    border-radius: 25%;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 25);
    margin: 30px;
  }